#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# IDE
.idea

# Dynamical inventory
ansible/inventory.ini

# Python Environment
ansible/.env
