openstack_user_name = {{ USERNAME }}
openstack_tenant_name = {{ TENANT_NAME }}
openstack_password = {{ PASSWORD }}
openstack_auth_url = {{ AUTH_URL }}
openstack_region = {{ REGION }}
openstack_domain_name = {{ DOMAIN_NAME }}
openstack_flavor = {{ FLAVOR }}
openstack_main_volume_id = {{'{{ Main_Volume }}'}}
openstack_beaver_volume_id = {{'{{ Beaver_Volume }}'}}
openstack_vm_2_volume_id = {{'{{ VM_2_Volume }}'}}
openstack_vm_1_volume_id = {{'{{ VM_1_Volume }}'}}
openstack_vm_1_2_volume_id = {{'{{ VM_1_2_Volume }}'}}
openstack_vm_3_volume_id = {{'{{ VM_3_Volume }}'}}
openstack_vm_4_volume_id = {{'{{ VM_4_Volume }}'}}
openstack_vm_5_volume_id = {{'{{ VM_5_Volume }}'}}
openstack_vm_6_volume_id = {{'{{ VM_6_Volume }}'}}
openstack_vm_7_volume_id = {{'{{ VM_7_Volume }}'}}
openstack_vm_7_2_volume_id = {{'{{ VM_7_2_Volume }}'}}
